<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:context="http://www.springframework.org/schema/context"
	xmlns:aop="http://www.springframework.org/schema/aop" xmlns:task="http://www.springframework.org/schema/task"
	xsi:schemaLocation="  
		http://www.springframework.org/schema/beans  
		http://www.springframework.org/schema/beans/spring-beans-3.2.xsd  
		http://www.springframework.org/schema/aop  
		http://www.springframework.org/schema/aop/spring-aop-3.2.xsd
		http://www.springframework.org/schema/context  
		http://www.springframework.org/schema/context/spring-context-3.2.xsd
		http://www.springframework.org/schema/task  
		http://www.springframework.org/schema/task/spring-task-3.2.xsd">
		
	<!-- 配置数据源 -->
	<!-- 这是原来配置Mysql数据库的方式，现在改为读取properties文件  begin-->
	<!-- <bean id="dataSource"
		class="org.springframework.jdbc.datasource.DriverManagerDataSource">
		<property name="driverClassName" value="com.mysql.jdbc.Driver" />
		<property name="url" value="jdbc:mysql://localhost:3306/blog" />
		<property name="username" value="root" />
		<property name="password" value="123456" />
	</bean>
	-->
	<!-- 这是原来配置Mysql数据库的方式，现在改为读取properties文件  end-->
	
	<!-- 改为读取properties文件配置Mysql数据库  begin-->
	<bean id="propertyConfigurer" class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">  
	    <property name="locations">   <!-- locations:可以配置多个properties文件  -->
	   		<list>
	   			<!-- 配置Mysql的配置文件，如果有别的配置文件，在下面添加即可 -->
	  			<value>classpath:mysqlDB.properties</value>
	  		</list>
	    </property>  
	    <property name="ignoreUnresolvablePlaceholders" value="true" />   
	</bean>  
	
	<bean id="dataSource" class="${sysDB.dataSource}"> <!-- 这些配置Spring在启动时会去mysqlDB.properties中找 -->  
		<property name="driverClassName" value="${sysDB.driverClass}" />  
		<property name="url" value="${sysDB.jdbcUrl}" />  
		<property name="username" value="${sysDB.user}" />  
		<property name="password" value="${sysDB.password}" />  
	</bean> 	 
	<!-- 改为读取properties文件配置Mysql数据库  end-->


	<bean id="sqlSessionFactory" class="org.mybatis.spring.SqlSessionFactoryBean">
		<property name="dataSource" ref="dataSource" />
	    <property name="configLocation" value="classpath:MyBatisConf.xml" />
	</bean>

	<bean id="userMapper" class="org.mybatis.spring.mapper.MapperFactoryBean">  
		<property name="mapperInterface" value="com.myprojct.ssm.mapper.UserMapper" />  
		<property name="sqlSessionFactory" ref="sqlSessionFactory" />  
    </bean> 
	
	
	
	<!-- 定时器相关配置 begin -->
	
	<!-- 
	注：理论上只需要加上下面的配置就可以了，其他参数都不是必须的。 配置完成，运行就能看到效果！
	总结：这种定时器的使用，不需要集成其他父类定时器，使用简单方便！功能也很强大！
	 -->

	<!-- 开启这个配置，spring才能识别@Scheduled注解   -->  
    <task:annotation-driven scheduler="qbScheduler" executor="qbExecutor" mode="proxy"/>  
    <task:scheduler id="qbScheduler" pool-size="10"/>
    <task:executor id="qbExecutor" pool-size="5" />
    
    <!-- 自动扫描注解的bean -->
	<context:component-scan base-package="com.myprojct.ssm.*" />
    
	<!-- 定时器相关配置 end -->
	

</beans>
